{% extends "base.twig" %}

{% block content %}

{% for message in app.session.getFlashBag.get('message') %}
    {{ message }} <br/>
{% endfor %}

<a href="{{ url('logout') }} ">Logout</a> <br/>

<strong>Your nickname</strong> : {{ user.nickname }} <br/>
<strong>Your friends</strong> : <br/>
{% for friend in user.friendList %}
    {{ friend.nickname }} <br/>
{% else %}
    No friends yet <br/>
{% endfor %}
    
<strong>Pending requests</strong> : <br/>
{% for pendingFriend in pendingFriends %}
    {{ pendingFriend.nickname }} <br/>
{% else %}
    No pending friends request <br/>
{% endfor %}
    
<strong>Friends to accept</strong> : <br/>
{% for friendToAccept in friendsToAccept %}
    {{ friendToAccept.nickname }} <br/>
    <a href="{{ url('accept_friend', {'userId1':friendToAccept.id, 'accepted':1}) }} ">Accept</a> |
    <a href="{{ url('accept_friend', {'userId1':friendToAccept.id, 'accepted':0}) }} ">Decline</a> <br/>
{% else %}
    No friends to accept <br/>
{% endfor %}
    
<br/>
    
<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>

{% endblock %}